<div class="border-b border-gray-200 rounded-t-2xl"
    data-controller="table-header"
    data-table-header-total-customers-value="<%= total_customers %>">

  <div class="flex items-center justify-between h-12 px-4 py-8">
    <div class="flex items-center">
      <input
        type="checkbox"
        id="select_all"
        class="w-4 h-4 cursor-pointer border border-gray-600 accent-gray-700 mr-3"
        data-table-header-target="selectAllCheckbox"
        data-action="change->table-header#toggleSelectAll"
      >
      <span class="text-sm font-medium text-gray-700" data-table-header-target="selectionText">
        Showing <%= total_customers %> customers
      </span>
    </div>

    <div class="flex items-center space-x-2 hidden" data-table-header-target="actionButtons">
      <%= render ButtonComponent.new(text: "Edit customers", class: "px-2 py-1 rounded-lg text-gray-600 border-b-gray-400 border-b-2 active:border-b-gray-300 active:border-b-1 active:translate-y-px active:shadow-[inset_0_2px_rgba(0,0,0,0.3)]") %>

      <%= render DropdownMenuComponent.new(items: [
        {
          text: "Add tags"
        },
        {
          text: "Remove tags"
        },
        {
          text: "Delete customers",
          icon: "trash",
          destructive: true
        }
      ]) %>
    </div>
  </div>
</div>
