
<div class="max-w-2xl mx-auto bg-white rounded-lg shadow-sm border border-gray-200">
  <%= render TableHeaderComponent.new(total_customers: @customers&.count || 0) %>
  <div class="divide-y divide-gray-200">
    <% @customers.each do |customer| %>
      <%= render CustomerItemComponent.new(customer: customer) %>
    <% end %>
  </div>
</div>
